<!-- 英語ページ -->
<div id="one" class="none active">
  <div class="box30">
    <div class="box-title">
      <%= @guidepost.title %>
    </div>
      <p><%= @guidepost.body %></p>
  </div>
  <%= attachment_image_tag @guidepost, :image, :fill, 40, 40, fallback: "no_image.jpg" ,:size => "400x300" %>

  <div class="post-content">
    <ul class="meta-info-cells v4 float-wrapper">
      <li>
        <i class="fa fa-user"></i><%= link_to @guidepost.user.name, user_path %>
      </li>
      <li>
        <i class="fa fa-calendar"></i><%= @guidepost.created_at.strftime('%Y/%m/%d') %>
      </li>

      <% if @guidepost.user == current_user %>
        <p><%= link_to "delete", guide_post_path(@guidepost), method: :delete %></p>
        <% if @guidepost.user == current_user %>
          <p><%= link_to "edit", edit_guide_post_path(@guidepost), method: :get %></p>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>




<!-- 日本語ページ -->
<div id="two" class="none">
  <div class="box30">
    <div class="box-title">
      <%= @guidepost.title %>
    </div>
      <p><%= @guidepost.body %></p>
  </div>
  <%= attachment_image_tag @guidepost, :image, :fill, 40, 40, fallback: "no_image.jpg" ,:size => "400x300" %>

  <div class="post-content">
    <ul class="meta-info-cells v4 float-wrapper">
      <li>
        <i class="fa fa-user"></i><%= link_to @guidepost.user.name, user_path %>
      </li>
      <li>
        <i class="fa fa-calendar"></i><%= @guidepost.created_at.strftime('%Y/%m/%d') %>
      </li>


      <% if @guidepost.user == current_user %>
        <p><%= link_to "投稿の削除", guide_post_path(@guidepost), method: :delete %></p>
        <% if @guidepost.user == current_user %>
          <p><%= link_to "投稿の編集", edit_guide_post_path(@guidepost), method: :get %></p>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>


