


<% if signed_in? %>
  <div class="post">
    <div class="container text-center">
      <button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#post">Tweets</button>
      <div class="modal fade" id="post" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <%= form_for @post do |f| %>
              <div class="modal-body">
                <%= f.text_area :content,:size => "20x10", class: "form-control", placeholder: "投稿内容を入力" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close(閉じる)</button>
                <%= f.submit "Post(投稿する)", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



<!-- 英語ページ -->

<!-- ログインしてない人に表示する英語ページ -->
<div id="one" class="none active">
  <% unless user_signed_in? %>
    <div class="col-lg-2" style="background-color: white;">
    </div>

    <div class="col-lg-10">
      <h1>Welcome to  Travel Helpers!!</h1>
      <br>
      <p>Connecting travelers in search of authentic trips and tour guides willing to lead them</p>
      <p>Find a plan you are interested in. You can talk to the local from the plan and design your trip together</p>

      <ul class="nav navbar-nav navbar-right">
        <li class="header-item"><%= link_to ' Sign Up', new_user_registration_path %></li>
        <li class="header-item"><%= link_to ' Sign In', new_user_session_path %></li>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <% if signed_in? %>
      <aside class="col-md-4">
        <div class="container-mypage">
          <table class="mypage-table">
            <div class="mypage-box">
              <div class="mypage-name">
                <tr>
                  <th class="mypage-th"><h1><%= @user.name %></h1>
                  </th>
                </tr>
              </div>
              <tr><td>
                <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" ,:size => "40x40" %>
              </td></tr>
              <tr><td>
                <%= @user.gender %>
              </td></tr>
              <tr><td>
                <%= @user.Nationality %>
              </td></tr>
              <tr><td class="introduction-box">
                <%= @user.introduction %>
              </td></tr>
              <tr><td>
                <%= render 'follow_form' if signed_in? %>
              </td></tr>
              <tr><td>
                <%= render 'stats' %>
              </td></tr>
              <tr><td>
                <% unless @user.id == current_user.id %>
                  <% if @isRoom == true %>
                    <p><a href="/rooms/<%= @roomId %>">Direct Message</a></p>
                    <% else %>
                      <%= form_for @room do |f| %>
                        <%= fields_for @entry do |e| %>
                          <%= e.hidden_field :user_id, :value=> @user.id %>
                        <% end %>
                        <%= f.submit "Direct Message" %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <%= link_to "My Page", user_path(@user.id) %>
              </td></tr>
            </div>
          </table>
        </div>

        <div class="edit">
          <%= link_to '', edit_user_path(@user.id), class: 'btn btn-default glyphicon glyphicon-wrench 　　　col-lg-12 edit_user_#{@user.id}' %>
        </div>
        <dl class="searchbox">
          <%= search_form_for @post_search, url: posts_path do |f| %>
            <dt><%= f.text_field :content_cont ,placeholder: 'tweet searchbox' %></dt>
            <dd><%= f.submit ("seach") , class: 'search-btn'%></dd>
          <% end %>
        </dl>
      </aside>
    <% end %>
    <div class="col-md-8">
      <% if user_signed_in?  %>
        <% if @feed_items.any? %>
          <ol class="timeline">
            <%= render @feed_items %>
          </ol>
          <%= paginate @feed_items, class: "paginate" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>








  
<!-- 日本語ページ -->

<!-- ログインしてる人に表示する日本語ページ -->
<div id="two" class="none">
  <% unless user_signed_in? %>
    <div class="col-lg-2" style="background-color: white;">
    </div>

    <div class="col-lg-10">
      <h1>Travel Helpersへようこそ!!</h1>
      <br>
      <p>このアプリは、外国人観光客とガイドしたい日本人をつなげるSNSです。</p>
      <ul class="nav navbar-nav navbar-right">
        <li class="header-item"><%= link_to ' 新規登録', new_user_registration_path %></li>
        <li class="header-item"><%= link_to ' ログイン', new_user_session_path %></li>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <% if signed_in? %>
      <aside class="col-md-4">
        <div class="container-mypage">
          <table class="mypage-table">
            <div class="mypage-box">
              <div class="mypage-name">
                <tr><th class="mypage-th"><h1><%= @user.name %></h1></th></tr>
              </div>
              <tr><td>
                <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" ,:size => "40x40" %>
              </td></tr>
              <tr><td>
                <%= @user.gender %>
              </td></tr>
              <tr><td>
                <%= @user.Nationality %>
              </td></tr>
              <tr><td class="introduction-box">
                <%= @user.introduction %>
              </td></tr>
              <tr><td>
                <%= render 'follow_form' if signed_in? %>
              </td></tr>
              <tr><td>
                <%= render 'statsjp' %>
              </td></tr>
              <tr><td>
                <% unless @user.id == current_user.id %>
                  <% if @isRoom == true %>
                    <p><a href="/rooms/<%= @roomId %>">チャットへ</a></p>
                  <% else %>
                    <%= form_for @room do |f| %>
                      <%= fields_for @entry do |e| %>
                        <%= e.hidden_field :user_id, :value=> @user.id %>
                      <% end %>
                      <%= f.submit "チャットを始める" %>
                    <% end %>
                  <% end %>
                <% end %>
                <%= link_to "マイページ", user_path(@user.id) %>
              </td></tr>
            </div>
          </table>
        </div>
     
        <div class="edit">
        <%= link_to '', edit_user_path(@user.id), class: 'btn btn-default glyphicon glyphicon-wrench 　　　col-lg-12 edit_user_#{@user.id}' %>
        </div>

        <dl class="searchbox">
          <%= search_form_for @post_search, url: posts_path do |f| %>
            <dt><%= f.text_field :content_cont ,placeholder: '検索するテキストを入力...' %></dt>
            <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
          <% end %>
        </dl>
      </aside>
    <% end %>


    <div class="col-md-8">
      <% if user_signed_in?  %>
        <% if @feed_items.any? %>
          <ol class="timeline">
            <%= render @feed_items %>
          </ol>
          <%= paginate @feed_items, class: "paginate" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

