<% if signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>post Feed</h3>
      
    </div>
  </div>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h2 >User</h2>
      <div class = "profile_image">
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
      </div>

        <table class="table table-default">
          <tr><td>NAME<td><%= @user.name %>
          <tr><td>Introduction<td> <%= @user.introduction %>
        </table>
  　　　　<%= link_to '', edit_user_path(@user.id), class: 'btn btn-default glyphicon glyphicon-wrench 　　　col-lg-12 edit_user_#{@user.id}' %>

      <div class="post">
        <div class="container text-center">
          <button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#post">つぶやきを投稿する</button>
          <div class="modal fade" id="post" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <%= form_with model: @post do |f| %>
                <div class="modal-body">
                  <%= f.text_field :content, class: "form-control", placeholder: "投稿内容を入力" %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                  <%= f.submit "投稿する", class: "btn btn-primary" %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-9">
      <table width="300" height="10", class="table table-default">
        <dl class="searchbox">
          <%= search_form_for @post_search, url: posts_path do |f| %>
          <dt><%= f.text_field :content_cont ,placeholder: '検索するテキストを入力...' %></dt>
          <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
          <% end %>
        </dl>
　　　
        <h2></h2>
          <thead>
            <th></th>
            <th>Opinion</th>
          </thead>
        <tbody>
          <% @search_posts.each do |post| %>
            <tr>
            <td>
              <%= attachment_image_tag post.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" ,:size => "40x40" %>
            </td>
            <td>
            <p class="result"><%= post.content %></p>
            </td>
            <td>
              <a href="#comments"><%= @post.post_comments.count %></a>
              <p class="comment-count"><%= @post.post_comments.count %>件コメント</p>
            </td>
     　　 　<% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>