
<!-- 英語のページ -->
<div id="one" class="none active">

  <div class="prefectures-select">
    <p class="prefectures-select-text">
      47 Prefectures In Japan
    </p>
  </div>

  <div class="container-prefecture">
    <div class="prefecture-box">
      <div class="prefecture-name">
        <div class="prefecture-wrap">
          <button class="prefecture-button"><a class="prefecture-name-button" href="prefectures/1">TOKYO</a></button>
        </div>
      </div>
      <a class="prefecture-image" href="prefectures/1"><%=image_tag '/images/photo0000-2593.jpg', :size => '100x110' %></a>
    </div>

    <div class="prefecture-box">
      <div class="prefecture-name">
        <div class="prefecture-wrap">
          <button class="prefecture-button"><a class="prefecture-name-button" href="prefectures/2">OSAKA</a></button>
        </div>
      </div>
      <a class="prefecture-image" href="prefectures/2"><%=image_tag '/images/photo0000-2120.jpg', :size => '100x110' %></a>
    </div>

    <div class="prefecture-box">
      <div class="prefecture-name">
        <div class="prefecture-wrap">
          <button class="prefecture-button"><a class="prefecture-name-button" href="prefectures/3">HOKKAIDO</a></button>
        </div>
      </div>
      <a class="prefecture-image" href="prefectures/3"><%=image_tag '/images/photo0000-4036.jpg', :size => '100x110' %></a>
    </div>


    <div class="prefecture-box">
      <div class="prefecture-name">
        <div class="prefecture-wrap">
          <button class="prefecture-button"><a class="prefecture-name-button" href="prefectures/4">YOKOHAMA</a></button>
        </div>
      </div>
      <a class="prefecture-image" href="prefectures/4"><%=image_tag '/images/photo0000-1252.jpg', :size => '100x110' %></a>
    </div>

    <div class="prefecture-box">
      <div class="prefecture-name">
        <div class="prefecture-wrap">
          <button class="prefecture-button"><a class="prefecture-name-button" href="prefectures/5">OKINAWA</a></button>
        </div>
      </div>
      <a class="prefecture-image" href="prefectures/5"><%=image_tag '/images/photo0000-1986.jpg', :size => '100x110' %></a>
    </div>

    <div class="prefecture-box">
      <div class="prefecture-name">
        <div class="prefecture-wrap">
          <button class="prefecture-button"><a class="prefecture-name-button" href="prefectures/6">NAGOYA</a></button>
        </div>
      </div>
      <a class="prefecture-image" href="prefectures/6"><%=image_tag '/images/photo0000-5452.jpg', :size => '100x110' %></a>
    </div>

    <div class="prefecture-box">
      <div class="prefecture-name">
        <div class="prefecture-wrap">
          <button class="prefecture-button"><a class="prefecture-name-button" href="prefectures/7">KYOTO</a></button>
        </div>
      </div>
      <a class="prefecture-image" href="prefectures/7"><%=image_tag '/images/photo0000-1630.jpg', :size => '100x110' %></a>
    </div>

    <div class="prefecture-box">
      <div class="prefecture-name">
        <div class="prefecture-wrap">
          <button class="prefecture-button"><a class="prefecture-name-button" href="prefectures/8">OTHERS</a></button>
        </div>
      </div>
      <a class="prefecture-image" href="prefectures/8"><%=image_tag '/images/photo0000-3523.jpg', :size => '100x110' %></a>
    </div>
 </div>
</div>











<!-- 日本語ページ -->
<div id="two" class="none">

  <div class="prefectures-select">
    <p class="prefectures-select-text1">
      ガイドしたい地域をクリック
    </p>
  </div>

  <div class="container-prefecture">
    <div class="prefecture-box">
      <div class="prefecture-name">
        <div class="prefecture-wrap">
          <button class="prefecture-button"><a class="prefecture-name-button" href="prefectures/1">東京</a></button>
        </div>
      </div>
      <a class="prefecture-image" href="prefectures/1"><%=image_tag '/images/photo0000-2593.jpg', :size => '100x110' %></a>
    </div>

    <div class="prefecture-box">
      <div class="prefecture-name">
        <div class="prefecture-wrap">
          <button class="prefecture-button"><a class="prefecture-name-button" href="prefectures/2">大阪</a></button>
        </div>
      </div>
      <a class="prefecture-image" href="prefectures/2"><%=image_tag '/images/photo0000-2120.jpg', :size => '100x110' %></a>
    </div>

    <div class="prefecture-box">
      <div class="prefecture-name">
        <div class="prefecture-wrap">
          <button class="prefecture-button"><a class="prefecture-name-button" href="prefectures/3">北海道</a></button>
        </div>
      </div>
      <a class="prefecture-image" href="prefectures/3"><%=image_tag '/images/photo0000-4036.jpg', :size => '100x110' %></a>
    </div>

    <div class="prefecture-box">
      <div class="prefecture-name">
        <div class="prefecture-wrap">
          <button class="prefecture-button"><a class="prefecture-name-button" href="prefectures/4">横浜</a></button>
        </div>
      </div>
      <a class="prefecture-image" href="prefectures/4"><%=image_tag '/images/photo0000-1252.jpg', :size => '100x110' %></a>
    </div>

    <div class="prefecture-box">
      <div class="prefecture-name">
        <div class="prefecture-wrap">
          <button class="prefecture-button"><a class="prefecture-name-button" href="prefectures/5">沖縄</a></button>
        </div>
      </div>
      <a class="prefecture-image" href="prefectures/5"><%=image_tag '/images/photo0000-1986.jpg', :size => '100x110' %></a>
    </div>

    <div class="prefecture-box">
      <div class="prefecture-name">
        <div class="prefecture-wrap">
          <button class="prefecture-button"><a class="prefecture-name-button" href="prefectures/6">名古屋</a></button>
        </div>
      </div>
      <a class="prefecture-image" href="prefectures/6"><%=image_tag '/images/photo0000-5452.jpg', :size => '100x110' %></a>
    </div>

    <div class="prefecture-box">
      <div class="prefecture-name">
        <div class="prefecture-wrap">
          <button class="prefecture-button"><a class="prefecture-name-button" href="prefectures/7">京都</a></button>
        </div>
      </div>
      <a class="prefecture-image" href="prefectures/7"><%=image_tag '/images/photo0000-1630.jpg', :size => '100x110' %></a>
    </div>

    <div class="prefecture-box">
      <div class="prefecture-name">
        <div class="prefecture-wrap">
          <button class="prefecture-button"><a class="prefecture-name-button" href="prefectures/8">その他地域</a></button>
        </div>
      </div>
      <a class="prefecture-image" href="prefectures/8"><%=image_tag '/images/photo0000-3523.jpg', :size => '100x110' %></a>
    </div>
 </div>
</div>