<!-- 英語ページ -->
<div id="one" class="none active">
  <div class="box30">
    <p><%= @post.content %></p>
  </div>

  <div class="post-content">
    <ul class="meta-info-cells v4 float-wrapper">
      <li>
        <i class="fa fa-user"></i><%= link_to @post.user.name, user_path(@post.user.id) %>
      </li>
      <li>
        <i class="fa fa-calendar"></i><%= @post.created_at.strftime('%Y/%m/%d') %>
      </li>
        <% if @post.favorited_by?(current_user) %>
          <li>
            <%= link_to post_favorites_path(@post), method: :delete do %>
            <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
            <%= @post.favorites.count %> likes
          </li>
        <% end %>
      <% else %>
        <li>
          <%= link_to post_favorites_path(@post), method: :post do %>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <%= @post.favorites.count %> likes
        </li>
      <% end %>
      <% end %>

      <i class="fa fa-comment"></i>
      <a href="#comments"><%= @post.post_comments.count %></a>
      
      <li>
        <% if @post.user == current_user %>
          <%= link_to "delete", post_path(@post), method: :delete %>
        <% end %>
      </li>
    </ul>
    
    <div class="post-content-inner mt-20">
      <p><%= @post.image %></p>
    </div>
  </div>

  <div class="comment-list bt style-2" id="comments">
    <div class="float-wrapper">
      <h2 class="comment-count"><%= @post.post_comments.count %>comments</h2>
    </div>
    <ol>
      <% @post.post_comments.each do |post_comment| %>
        <li class="comment">
          <div class="comment-body bb">
            <div class="comment-avatar">
              <div class="avatar">
                <%= attachment_image_tag post_comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
              </div>
            </div>
            
            <div class="comment-text">
              <div class="comment-author clearfix">
                <a href="#" class="link-author"><%= post_comment.user.name %></a>
                <span class="comment-meta">
                <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %>
                </span>
                </span>
              </div>
              
              <div class="comment-entry"><%= post_comment.comment %></div>
            </div>
          </div>
        </li>
      <% end %>
    </ol>
  </div>

  <hr>

  <div class="section-title-wrapper style-1 v1 mt-30" id="divAddComment">
    <h3 class="section-title left">
      <span>Comment</span>
    </h3>
  </div>
    <%= form_for [@post, @post_comment] do |f| %>
      <div class="row">
        <div class="col-sm-12">
          <%= f.text_field :comment, class: "form-control",placeholder: "Cooment" %>
        </div>
      </div>
      <%= f.submit "submit", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
    <% end %>
</div>





<!--日本語ページ -->

<div id="two" class="none">
  <div class="box30">
    <p><%= @post.content %></p>
  </div>

  <div class="post-content">
    <ul class="meta-info-cells v4 float-wrapper">
      <li>
        <i class="fa fa-user"></i><%= link_to @post.user.name, user_path(@post.user.id) %>
      </li>
      <li>
        <i class="fa fa-calendar"></i><%= @post.created_at.strftime('%Y/%m/%d') %>
      </li>
        <% if @post.favorited_by?(current_user) %>
          <li>
            <%= link_to post_favorites_path(@post), method: :delete do %>
            <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
            <%= @post.favorites.count %> イイネ
          </li>
        <% end %>  
      <% else %>
        <li>
          <%= link_to post_favorites_path(@post), method: :post do %>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <%= @post.favorites.count %> イイネ
        </li>
      <% end %>
      <% end %>

      <i class="fa fa-comment"></i>
      <a href="#comments"><%= @post.post_comments.count %></a>
      
      <li>
        <% if @post.user == current_user %>
          <%= link_to "delete", post_path(@post), method: :delete %>
        <% end %>
      </li>
    </ul>
    
    <div class="post-content-inner mt-20">
      <p><%= @post.image %></p>
    </div>
  </div>

  <div class="comment-list bt style-2" id="comments">
    <div class="float-wrapper">
      <h2 class="comment-count"><%= @post.post_comments.count %>件のコメント</h2>
    </div>
    <ol>
      <% @post.post_comments.each do |post_comment| %>
        <li class="comment">
          <div class="comment-body bb">
            <div class="comment-avatar">
              <div class="avatar">
                <%= attachment_image_tag post_comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
              </div>
            </div>
            
            <div class="comment-text">
              <div class="comment-author clearfix">
                <a href="#" class="link-author"><%= post_comment.user.name %></a>
                <span class="comment-meta">
                <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %>
                </span>
                </span>
              </div>
              
              <div class="comment-entry"><%= post_comment.comment %></div>
            </div>
          </div>
        </li>
      <% end %>
    </ol>
  </div>

  <hr>

  <div class="section-title-wrapper style-1 v1 mt-30" id="divAddComment">
    <h3 class="section-title left">
      <span>コメント</span>
    </h3>
  </div>
  <%= form_for [@post, @post_comment] do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.text_field :comment, class: "form-control",placeholder: "コメントを入力" %>
      </div>
    </div>
    <%= f.submit "送信", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
  <% end %>
</div>
